@import '../library/stylesheets/modularscale';

//Reset
@charset "UTF-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, picture, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

//Box-sizing
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

html { box-sizing: border-box; }

*, *:after, *:before { box-sizing: inherit; }

html { box-sizing: border-box; }

*, *:after, *:before { box-sizing: inherit; }

.cf:before, .container:after { content: ""; display: table; }

.cf:after { clear: both; }
/* IE 6/7 */
.cf { zoom: 1; }

$type-serif: "expo-serif-pro",serif;
$type-sanSerif: "soleil",sans-serif;
$secondary-text-color: white;

//Mixins
@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slide {
  @include centerer;
  // width: 1920px;
  width: 90%;
  height: 1080px;
  // background-color: #F3F3F3;
}

.frame-title {
  position: fixed;
  top: 0;
  left: 5%;
  padding: 20px 0;
}

.content-align {
  position: absolute;
  top: 16rem;
}

.line {
  position: fixed;
  top: 0;
  width: 1px;
  height: 100vh;
  background-color: #000000;
  opacity: .1;
}

$modularscale: (
  base: 20px,
  ratio: 1.5
);

h1 {
  font-size: ms(5);
}

h2 {
  font-size: ms(4);
}

h3 {
  font-size: ms(3);
}

h4 {
  font-size: ms(2);
}

h5 {
  font-size: ms(1);
  font-weight: 400;
}

.margin-top {
  margin-top: 8.6rem;
}

body,
html {
  font-family: $type-sanSerif;
  font-weight: 600;
  line-height: 1.35;
  color: #091540;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
//
// h5 {
//   padding-top: 2.3rem;
//   font: 300 1.8rem $type-sanSerif;
//   margin-bottom: 180px;
// }
//
// h3 {
//     font: 500 3.375rem $type-sanSerif;
//     margin-bottom: 6rem;
// }
//
// h1 {
//   font: 500 5.063rem $type-sanSerif;
// }

nav {
  margin-top: 2.2rem;
}

.main-nav {
  margin-left: auto;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  vertical-align: bottom;
  list-style: none;
}

.main-nav li {
  padding-left: 2.4rem;
}

.main-nav a {
  border-bottom: solid 1px;
  font-family: $type-sanSerif;
  font-size: 18px;
  font-weight: 300;
  display: block;
  text-decoration: none;
}

.main-nav .logo {
  background: #4584b1;
}

section {
  position: relative;

  .golden {
    position: absolute;
    top: 8rem;
  }
}

.indexDesc {
  position: absolute;
  top: 30%;
  padding: 0;
  font-family: $type-sanSerif;
  font-size: 0.8rem;
  font-weight: 400;
  transform: rotate(-90deg);
}

#countup {
  position: relative;
  font-size: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    float: left;
    padding: 6px 5px 0 0;
  }

  .timeRefDays,
  .timeRefHours,
  .timeRefMinutes,
  .timeRefMonths,
  .timeRefSeconds,
  .timeRefYears {
    position: relative;
    font-family: $type-sanSerif;
    top: 8px;
    font-weight: 500;
    font-size: 0.5rem;
    vertical-align: bottom;
    height: 10px;
    opacity: 0.7;
    text-transform: uppercase;
  }
}

//Buttons
#page-wrapper {
  position: fixed;
  padding: 20px;
  bottom: 0;
  right: 0;
  z-index: 99;
}

button {
  display: inline-block;
  border-radius: 3px;
  border: none;
  font-size: 0.9rem;
  padding: 0.4rem 0.8em;
  background: #69c773;
  border-bottom: 1px solid #498b50;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  margin: 0.5em 0.25rem 0;
  text-align: center;
}

button:hover, button:focus {
  opacity: 0.75;
  cursor: pointer;
}

button:active {
  opacity: 1;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
}
